.header {
    padding: 1rem;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

.container {
    display: flex;
    height: 100vh;
}

.aside {
    padding: 2rem;
    background: #ddd;
    width: 200px;
    height: 100%;
}

.aside_list_item {
    margin-bottom: 2rem;
}

.aside_list_item a {
    color: #333;
    padding: 1rem;
    display: block;
}

.aside_list_item a:hover {
    opacity: .8;
}

.main {
    flex: 1;
    background: #ccc;
    height: 100%;
    padding: 2rem;
}
